<clr-main-container>
    <clr-header class="header-1">
        <div class="branding clr-row clr-justify-content-center">
          <a>
            <img src="../../../assets/estrellas3.png" class="clr-icon" style="width: 120px; height: 48px;">
          </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a [routerLinkActive]="['active']" routerLink="/home" class="nav-link"><span class="nav-text">Inicio</span></a>
            <a [routerLinkActive]="['active']" routerLink="/about-us" class="nav-link"><span class="nav-text">Quienes Somos</span></a>
            <a [routerLinkActive]="['active']" routerLink="/products" class="nav-link"><span class="nav-text">Productos y Servicios</span></a>
            <a [routerLinkActive]="['active']" routerLink="/home" class="nav-link"><span class="nav-text">Contáctanos</span></a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>Perfil</a>
                    <a href="..." clrDropdownItem>Cerrar sesión</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
      </clr-header>
  
      <div class="content-container">
          <div class="content-area">
              <router-outlet></router-outlet>
          </div>
      </div>
  </clr-main-container>

